<%- include("templates/header") %>
<%- include("templates/nav") %>
<main>
    <h2>Actualizar Producto</h2>
    <form action="/admin/actualizarProducto/<%= producto._id %>" method="POST">
        <div class="mb-3">
            <label for="_id" class="form-label">ID</label>
            <input type="text" class="form-control" id="_id" name="_id" value="<%= producto._id %>" disabled>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="<%= producto.nombre %>">
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" value="<%= producto.descripcion %>">
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <a href="/admin/productos" class="btn btn-secondary">Cancelar</a>
    </form>
</main>
<%- include("templates/footer") %>
