<%- include("templates/header") %>
<%- include("templates/nav") %>
<main>
    <h2>SERVICIOS</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">DESCRIPCION</th>
            </tr>
        </thead>
        <tbody>
            <% if (servicios.data.length > 0) { %>
                <% servicios.data.forEach(servicio => { %>
                    <tr scope="row">
                        <td><%= servicio.nombre %></td>
                        <td><%= servicio.descripcion %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td>No hay servicios disponibles.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</main>
<%- include("templates/footer") %>